<ul class="nav nav-tabs tab">
  <li class="active"><a data-toggle="tab" href="#panel1">{{'Profile'|translate}}</a></li>
  <li><a data-toggle="tab" href="#panel2">{{'EditProfile'|translate}}</a></li>
  <!--<li class="dropdown">-->
    <!--<a data-toggle="dropdown" class="dropdown-toggle" href="#">-->
      <!--Другие панели-->
      <!--<b class="caret"></b>-->
    <!--</a>-->
    <!--<ul class="dropdown-menu">-->
      <!--<li><a data-toggle="tab" href="#panel3">Панель 3</a></li>-->
      <!--<li><a data-toggle="tab" href="#panel4">Панель 4</a></li>-->
    <!--</ul>-->
  <!--</li>-->
</ul>

<div class="tab-content">
  <div id="panel1" class="tab-pane fade in active">
    <app-info-profile></app-info-profile>
  </div>
  <div id="panel2" class="tab-pane fade">
    <app-edit-profile></app-edit-profile>
  </div>
</div>
