<h1><strong translate class="text-log">Title</strong></h1>
<div class="container">
  <div class="dropdown settings" dropdown>
    <button class="btn btn-primary"  dropdown-open>{{"Settings"| translate}}</button>
    <ul class="dropdown-menu">
      <li><a (click)="switchLanguage('en')">{{'en'|translate}}</a></li>
      <li><a (click)="switchLanguage('ru')">{{'ru'|translate}}</a></li>
      <li><a>{{'dark'|translate}}</a></li>
      <li><a>{{'white'|translate}}</a></li>
    </ul>
  </div>

  <button class="login btn-primary btn"  onclick='location.href="#openModal"'>{{'login'|translate}}</button>
  <div id="openModal" class="modalDialog">
    <div>
      <a href="#close" title="Закрыть" class="close">X</a>
      <app-login></app-login>
    </div>
  </div>
  <div class="search">
    <input name="query" type="text" class="search-query txt-field" placeholder="{{'inpsearche'|translate}}">
    <button type="submit" class="btn">{{'searche'|translate}}</button>
  </div>
</div>

