<form id="login-form" #form="ngForm" (ngSubmit)="login(form.value)">
  <div class="form-group" >
    <input type="email" [(ngModel)]="user.email" name="email" id="email"
           tabindex="1" class="form-control" #email="ngModel"
    value="" placeholder="{{'email'|translate}}" (input)="checkLogin()" required email >
    <div [hidden]="email.valid || email.untouched" class="alert alert-danger">
     {{'IncorrectEmail'|translate}}
    </div>
    <br>
    <input type="password" [(ngModel)]="user.password" name="password" id="password" tabindex="2"
           class="form-control" #password="ngModel"
           value="" placeholder="{{'password'|translate}}" (input)="checkPassword()"
           required pattern="^(?=.*\d)(?=.*[A-Z])(?=.*[a-z]).{8,}$">
    <div [hidden]="password.valid || password.untouched"
         class="alert alert-danger">{{'IncorrectPassword'|translate}}</div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <input [disabled]="email.invalid || password.invalid" type="submit"
               name="login-submit" id="login-submit" tabindex="3"
               class="btn btn-info btn-block" value="{{'LOGIN'| translate}}">
      </div>
    </div>
  </div>
  <button style="display: none" id="hidden-submit" data-dismiss="modal"></button>
</form>
