<app-image-area></app-image-area>
<form class="register-form" #form="ngForm" (ngSubmit)="updateProfile(form.value)" role="form" style="display: inline">
  <div class="form-group">
    <input type="text" [(ngModel)]="user.firstname" name="firstname"
           id="firstname" class="form-control" value=""
           placeholder="{{'newFirstName'|translate}}" #firstname="ngModel" required >
    <br>
    <input type="text" [(ngModel)]="user.lastname" name="lastname" id="lastname" class="form-control" value=""
           placeholder="{{'newLastName'|translate}}"  #lastname="ngModel" required >
    <br>
    <input type="text" [(ngModel)]="user.email" name="email" id="email" class="form-control" value=""
           placeholder="{{'newemail'|translate}}"  #email="ngModel" required email>
    <div [hidden]="email.valid || email.untouched" class="alert" style="color: red">
      {{'IncorrectEmail'|translate}}
    </div>
    <br>
    <input type="text" [(ngModel)]="user.username" name="nickName" id="nickName" class="form-control" value=""
           placeholder="{{'newNick'|translate}}"  #nickName="ngModel" required>
    <br>
    <input type="password" [(ngModel)]="user.password" name="password"
           id="password" class="form-control" value="confirmpas"
           placeholder="{{'newpassword'|translate}}"
           #password="ngModel" required pattern="^(?=.*\d)(?=.*[A-Z])(?=.*[a-z]).{8,}$" >
    <div [hidden]="password.valid || password.untouched"
         class="alert" style="color: red">{{'IncorrectPassword'|translate}}</div>
    <br>
    <input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" id="confirmPassword"
           class="form-control" value="" placeholder="{{'confirmPassword'| translate}}"
           (input)="checkConfirmPassword()" required
           pattern="^(?=.*\d)(?=.*[A-Z])(?=.*[a-z]).{8,}$">
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-6">
        <input [disabled]="firstname.invalid||lastname.invalid||email.invalid||nickName.invalid||password.invalid"
               type="submit" name="save-submit" id="save-submit" tabindex="3"
               class="btn btn-success btn-block" value="{{'SAVE'| translate}}">
      </div>
  </div>
  </div>
</form>

