<!--<div *ngIf="user.role == 'admin'">-->

<!--</div>-->
<!--<div *ngIf="user.role != 'admin'">-->
<!--<app-error></app-error>-->
<!--</div>-->

<form #projectListForm="ngForm" role="form" >
  <div class="panel">
    <div class="panel-group">
      <table class="table_dark" style="position:relative;left: 100px;">
        <tr>
          <th><button class="btn-default btn" (click)="blocked()">{{'Block'|translate}}</button></th>
          <th>{{'Image'|translate}}</th>
          <th>{{'Information'|translate}}</th>
          <th>{{'Email'|translate}}</th>
        </tr>
        <tr *ngFor="let user of users, let idx = index">
          <td>
            <div>
              <input type="checkbox" id="blocked" (click)="blockedCheckbox(idx)" class="checkbox"  style=" width: 40px; height:40px;" >
            </div>
          </td>
          <td><img src="{{user.image}}" style="width: 200px; height:150px;"></td>
          <td>{{user.firstName}} {{user.userName}} {{user.lastName}}</td>
          <td>{{user.email}}</td>
        </tr>
        <tr>
      </table>
    </div>
  </div>
</form>
